[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sailorAI
Exec=sailjail -p harbour-sailorAI /usr/bin/sailfish-qml harbour-sailorAI
Name=SailorAI
Name[de]=SailorAI
Name[fr]=SailorAI
Name[fi]=SailorAI
X-Nemo-Single-Instance=yes
MimeType=image/jpeg;image/png;image/gif;image/webp;image/bmp;
X-Share-Methods=sailorAI_share;
X-Maemo-Service=harbour.sailorAI
X-Maemo-Object-Path=/harbour/sailorAI
X-Maemo-Method=harbour.sailorAI.openUrl

# Übersetzbare Beschreibung
Comment=Chat with your favourite LLM
Comment[de]=Chatte mit deinem Lieblings-LLM
Comment[fr]=Discutez avec votre LLM préféré
Comment[fi]=Keskustele suosikki-LLM:si kanssa

# Kategorien für den Store
Categories=Network;Monitor;Utility
# Version der App
X-Nemo-Application-Version=1.0.0

[X-Share Method sailorAI_share]
Description=Send to SailorAI
Description[de]=An SailorAI senden
Description[fr]=Envoyer à SailorAI
Description[fi]=Lähetä SailorAI:lle
Capabilities=image/jpeg;image/png;image/gif;image/webp;image/bmp;
SupportsMultipleFiles=no

[X-Sailjail]
OrganizationName=harbour
ApplicationName=harbour-sailorAI
Permissions=Internet;WebView;Camera
